<body>
  <div class="d-flex float-right">
    <select
      id="select-country"
      class="form-select"
      aria-label="Default select example"
    >
      <option selected>
        Select country
      </option>
      {{#each data.countries}}
        <option value="{{this}}">
          {{this}}
        </option>
      {{/each}}
    </select>
  </div>
  <div class="d-flex justify-content-center">
    <div id="regions_div" style="width: 900px; height: 500px;"></div>
  </div>
</body>

<script defer>
  $('#select-country').on('change', function (e) {
    const optionSelected = $("option:selected", this);
    const valueSelected = this.value;
    window.open("/deaths/"+valueSelected,' _blank')
  });


  google.charts.load("current", {
    packages: ["geochart"],
  });
  google.charts.setOnLoadCallback(drawRegionsMap);

  function drawRegionsMap() {
    const totalDeathsByCountry = {{{json
    data.totalDeathsByCountry
  }}};

    const arr = []
    for (country in totalDeathsByCountry) {
      arr.push([country, parseInt(totalDeathsByCountry[country], 10)])
    }

    console.log([
      ["Country", "Popularity"],
      arr[1]
    ])

    var tempData = google.visualization.arrayToDataTable([
      ["Country", "Total deaths"],
      ...arr,
    ]);

    var options = {};


    
    console.log(totalDeathsByCountry);

    var chart = new google.visualization.GeoChart(
      document.getElementById("regions_div")
    );

    chart.draw(tempData, options);

    
  }
</script>