<body>
  <div class="d-flex justify-content-center">
    <select
      id="select-country"
      class="form-select"
      aria-label="Default select example"
      onclick=""
    >
      <option selected>Select country</option>
      {{#each countries}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
      {{#each deaths}}{{/each}}
    </select>
  </div>
  <div id="regions_div" style="width: 900px; height: 500px;"></div>
</body>

<script src="js/demoGeoChart.js"></script>